.sidenav-item{
    button{
        line-height: 50px;
        width: 100%;
    }

   
}

 .top-menu{
        border-bottom: 1px solid lightgray;
}

.active{
    background: lightgreen;
}

.bread-crumb{
    font-size: small;
}

.app-content{
    padding: 4px;
    background: hsla(0, 0%, 83%, 0.13);;
    
    height: 100vh;
}



.mat-sidenav{
    min-width: 0px;
}