<table cellspacing="0">
  <thead>
    <th>
        <button md-icon-button (click)="onClick">
            <md-icon class="md-18">add</md-icon>
        </button>
    </th>
    <th>#</th>
    <th>Name</th>
  </thead>
  <tbody>
    <tr>
      <td colspan="3">
        <table class="rows" cellspacing="0">
          <tbody>
            <tr>
                <td>
                    <button md-icon-button (click)="onClick">
                        <md-icon class="md-18">add</md-icon>
                    </button>
                  </td>
                  <td>
                      <md-radio-button color="primary" value="1"></md-radio-button> 
                  </td>
                  <td>
                    Ford Motors
                  </td>
            </tr>
            <tr>
                <td colspan="3">
                    <table class="rows-details" cellspacing="0">
                        <tbody>
                          <tr>
                              <td >Data Depth: </td>
                              <td> Data Depth Detail</td>
                          </tr>
                          <tr>
                              <td>City: </td>
                              <td></td>
                          </tr>
                          <tr>
                              <td>State: </td>
                              <td></td>
                          </tr>
                          <tr>
                              <td>Country: </td>
                              <td></td>
                          </tr>
                          <tr>
                              <td>Ticker: </td>
                              <td></td>
                          </tr>
                          <tr>
                              <td>Exchange: </td>
                              <td></td>
                          </tr>
                          <tr>
                              <td>Top Level: </td>
                              <td></td>
                          </tr>
                          <tr>
                              <td>Status: </td>
                              <td></td>
                          </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
