<app-tile [title]="chartHeader" [isSplittable]="false" [isFlippable]="false">
  <div front style='width: 100%; height: 100%;'>
      <div *ngIf='modelData'>
          <gauge-chart routerLink="/frequency"
              benchmark-score
              [modelData]="modelData"
              [chartData]="chartData"
              [chartComponent]="chartComponent$ | async"
              (onDataComplete)="onDataComplete($event)"
              (onChartRedraw)="onChartReDraw($event)"
          >
          </gauge-chart>
      </div>
  </div>
</app-tile>