<app-tile [id]="'Dashboard_Frequency'" [title]="chartHeader" class="width-100">
    <div front [ngClass]="{'width-100' : !printSettings}" fxLayout="row">
        <gauge-chart 
            fxFlexFill
            *ngIf='modelData' 
            [routerLink]=" (this.searchService?.checkValidationPeerGroup()?.hasFrequencyData) ? ['/frequency'] : []"
            routerLinkActive="active"
            dashboard-score
            [modelData]="modelData"
            [chartData]="chartData"
            [chartComponent]="chartComponent$ | async"
            (onDataComplete)="onDataComplete($event)"
            (onChartRedraw)="onChartReDraw($event)"
            [printSettings]="printSettings"
            >
        </gauge-chart>
    </div>
</app-tile>