<button md-button class="width-100" [disabled]="isDisabled" (click)="toggleSelected()">
    <div fxLayout="row" fxLayoutAlign="space-between center" [ngClass]="{'sub-component-padding': isSubComponent}">
      <div [ngClass]="{'btn-checkbox-name' : !isSubComponent, 'btn-checkbox-sub-name' : isSubComponent}">
          {{name}}
      </div>
      <div class="btn-checkbox-img">
        <md-icon *ngIf="isSelected">check_box</md-icon>
        <md-icon *ngIf="!isSelected">check_box_outline_blank</md-icon>
      </div>
    </div>
</button>
