<div class="tile-container" *ngIf="isTileVisible" [ngClass]="{'tile-maximize': isMaximize}">
  <md-toolbar color="primary" class="tile-toolbar">
      <div fxLayout="row" fxLayoutAlign="start center" fxFlex>
          <div class="tile-title-parent"><span class="tile-title">{{title}}</span></div>
          <ng-content select="[header]" ></ng-content>
          <div fxLayout="row" fxFlex fxLayoutAlign="end center" class="tile-buttons">
            <button md-icon-button *ngIf="isFullScreen" (click)="toggleFullScreen($event)">
              <md-icon *ngIf="!isMaximize">fullscreen</md-icon>
              <md-icon *ngIf="isMaximize">fullscreen_exit</md-icon>
            </button>
          
            <button md-icon-button *ngIf="isDragable"><md-icon>open_with</md-icon></button>
            <button md-icon-button *ngIf="isSplittable" (click)="toggleSplit($event)"><md-icon>filter_none</md-icon></button>
            <button md-icon-button *ngIf="isFlippable"  (click)="toggleFlip($event)"><md-icon>flip_to_back</md-icon></button>
            <button md-icon-button *ngIf="isAccordion"  (click)="toggleContent($event)" 
                [ngClass]="{'collapse':isContent, 'expand':!isContent}">
                <i *ngIf="isContent" class="icon-backburger expand-collapse"></i>
                <i *ngIf="!isContent" class="icon-backburger expand-collapse"></i>
            </button>
          </div>
      </div>
  </md-toolbar>
  <md-progress-bar mode="indeterminate" color="warn" *ngIf="showProgress"></md-progress-bar>
  <div class="tile-content">
    <div
      *ngIf="isContent"
      fxLayout="row"
      fxLayoutAlign="start start"
      fxLayout.lt-md="column"
      fxLayoutAlign.lt-md="center center">

      <ng-content
        select="[front]"
        *ngIf="!isFlipped || isSplitted">

      </ng-content>

      <ng-content
        select="[back]"
        *ngIf="isFlipped || isSplitted">

      </ng-content>
    </div>
  </div>
</div>
