<div  class="tile-container" *ngIf="isTileVisible" [ngClass]="{'tile-maximize': isMaximize}">
  <md-toolbar color="primary" class="tile-toolbar">
      <div fxLayout="row" fxLayoutAlign="start center" fxFlex>
          <div class="tile-title-parent">
            <div>
              <button md-icon-button *ngIf="isDisabled" [disabled]="isDisabled">
                  <md-icon>lock</md-icon>
              </button>
              <span [ngClass]="(isDisabled) ? 'tile-title-disabled' : 'tile-title'">{{title}}</span>
            </div>
          </div>
          <ng-content select="[header]" ></ng-content>

          <!--isDisabled is false-->
          <div *ngIf="!isDisabled" fxLayout="row" fxFlex fxLayoutAlign="end center" class="tile-buttons">
            <button md-icon-button *ngIf="isFullScreen" (click)="toggleFullScreen($event)">
              <md-icon *ngIf="!isMaximize">fullscreen</md-icon>
              <md-icon *ngIf="isMaximize">fullscreen_exit</md-icon>
            </button>

            <button md-icon-button *ngIf="isSelectable" (click)="toggleSelected()" [disabled]="isSelectableDisabled">
              <md-icon *ngIf="isSelected">check_box</md-icon>
              <md-icon *ngIf="!isSelected">check_box_outline_blank</md-icon>
            </button>
            <button md-icon-button *ngIf="isDragable"><md-icon>open_with</md-icon></button>
            <button md-icon-button *ngIf="isSplittable" (click)="toggleSplit($event)"><i class="icon-content-duplicate fa-lg"></i></button>
            <button md-icon-button *ngIf="isFlippable" [disabled]="isSplitted" (click)="toggleFlip($event)"><md-icon>flip_to_back</md-icon></button>
            <button md-icon-button *ngIf="isAccordion"  (click)="toggleContent($event)"
                [ngClass]="{'collapse':isContent, 'expand':!isContent}">
                <i class="icon-backburger expand-collapse"></i>
            </button>
          </div>

          <!--isDisabled is true-->
          <div *ngIf="isDisabled" fxLayout="row" fxFlex fxLayoutAlign="end center" class="tile-buttons">
              <button md-icon-button *ngIf="isFullScreen" [disabled]="isDisabled">
                <md-icon *ngIf="!isMaximize" >fullscreen</md-icon>
              </button>
  
              <button md-icon-button *ngIf="isSelectable" [disabled]="isDisabled">
                <md-icon *ngIf="isSelected">check_box</md-icon>
                <md-icon *ngIf="!isSelected">check_box_outline_blank</md-icon>
              </button>
              <button md-icon-button *ngIf="isDragable" [disabled]="isDisabled"><md-icon>open_with</md-icon></button>
              <button md-icon-button *ngIf="isSplittable" [disabled]="isDisabled"><i class="icon-content-duplicate fa-lg"></i></button>
              <button md-icon-button *ngIf="isFlippable" [disabled]="isDisabled"><md-icon>flip_to_back</md-icon></button>
              <button md-icon-button *ngIf="isAccordion"  [disabled]="isDisabled"
                  [ngClass]="{'collapse':isContent, 'expand':!isContent}">
                  <i class="icon-backburger expand-collapse"></i>
              </button>
          </div>
      </div>
  </md-toolbar>
  <md-progress-bar mode="indeterminate" color="warn" *ngIf="showProgress"></md-progress-bar>
  <div class="tile-content">
    <div
      *ngIf="isContent && !isDisabled"
      fxLayout="row" fxLayout.lt-md="column"
      fxLayoutAlign="center center">

      <div class="width-100" [hidden]="hideFront()">
        <ng-content
          select="[front]">

        </ng-content>
      </div>


      <div class="width-100" [ngClass]="{'split-border': isSplitted}"  [hidden]="hideBack()">
        <ng-content
          select="[back]">

        </ng-content>
      </div>
    </div>
    <div
      *ngIf="isDisabled">
      <ng-content
        select="[disable]">
      </ng-content>
    </div>
  </div>
</div>
