<div id="error-500" fxLayout="column" fxLayoutAlign="center center">
    <div class="content" fxLayout="column" fxLayoutAlign="center center">
        <div class="error-code">403</div>
        <div class="message">Well, suspicious activity occurred!</div>
        <div class="sub-message">Just kidding, you don't have access to the content.
            Please upgrade your subscription.
        </div>
    </div>
    <div>
        <md-icon class="">phone</md-icon>
        <a href="tel:12128974800">+1 (212) 897-4800</a>
    </div>
    <div >
        <md-icon class="">message</md-icon>
        <a href="mailto:support@advisen.com?subject=insite20twenty Website Inquiry">support@advisen.com</a>
    </div>
</div>
