/*.pie-chart1 {
    width:100%;
}

@media only screen and (max-width : 680px) {
.pie-chart1 .highcharts-container{
    width: 401px !important;
    height: 269px !important;
    
  }

.pie-chart1  .highcharts-root{
      width: 100% !important;
      height: 100% !important;
  }
}*/
.chart-pie{
    height: 400px;
    min-height: 275px;
}
.tile-maximize .chart-pie{
  min-height: 275px !important;
  height: 86vh !important;
}
