
.padding-15{
    padding: 15px;
}

.width-100{
    width: 100%;
}

.mat-input-underline {
  background: #b1d23b !important;
}

.table-header{
    font-size: 13px;;
    color: #b1d23b;
 }

 md-header-cell  {
    color: #b1d23b;
 }

 md-row:hover {
    background: yellow;
    font-weight: bold;
 }

 md-header-row {
    background: #464646;
 }

//  .mat-table {
//   overflow: auto;
//   max-height: 600px;
// }

 md-row {

 }
