<div *ngIf='modelData'>
    <bar-chart *ngIf='!modelData?.withBreak' 
        frequeny-bar-incident [modelData]="modelData" 
        [chartData]="chartData" 
        [chartView]="incidentChartView"  
        [chartComponent]="chartComponent$ | async"
        (onDataComplete)="onDataComplete($event)" 
        (onChartRedraw)="onChartReDraw($event)">
    </bar-chart>
    <bar-chart-logarithm *ngIf='modelData?.withBreak' 
        frequeny-bar-incident [modelData]="modelData" 
        [chartData]="chartData" 
        [chartView]="incidentChartView"  
        [chartComponent]="chartComponent$ | async"
        (onDataComplete)="onDataComplete($event)" 
        (onChartRedraw)="onChartReDraw($event)">
    </bar-chart-logarithm>
</div>