table {
    width: 100%;
    border-collapse: collapse;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-right: 1px solid transparent;
}

#mainTable tr {
    height: 50px;
    border-bottom: 1px solid lightgray;
}

#mainTable tr:last-child {
    border-bottom: 1px solid transparent;
}

#innerTable tr {
    height: 50px;
    border-bottom: 0px solid lightgray;
}

.header-column {
    padding: 5px;
    font-family: "Helvetica Neue", "Arial", "sans-serif";
    font-style: normal;
    font-size: 14px;
    font-weight: bold;
    color: #000000;
}

.column {
    padding: 5px;
    font-family: "Helvetica Neue", "Arial", "sans-serif";
    font-style: normal;
    font-size: 13px;
    color: #000000;
}
