<app-tile [id]="'NO_ACCESS'" [title]="''" class="width-100" [isAccordion]="false" [isFullScreen]="false">
    <div front class="width-100">
        <div class="container" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutWrap>
            <div></div>
            <div class="alert-msg">
                <div>
                    You do not have permission to access this content.
                    Please upgrade your subscription. You may contact 
                    <a target="_blank" href="mailto:support@advisen.com?subject=insite20twenty Website Inquiry">
                        support@advisen.com
                    </a>
                </div>
            </div>
            <div></div>
          </div>
    </div>
</app-tile>