
.withPercentage {
    width: 120px;
}

.percentageText {
    color: rgba(0, 0, 0, 0.87) !important;
}

.pdfMenuText {
    font-size: 13px;
}

.mat-menu-panel.pdfMenu {
    max-width: none;
}

.dark-backdrop {
    background: rgba(0,0,0,0.87);
}

.mat-toolbar.top-menu{
    border-bottom: 1px solid lightgray;
    padding: 0 0;
}
