<div *ngIf='modelData'>
    <bar-chart *ngIf='!modelData.withBreak'
        frequeny-bar-incident
        [modelData]="modelData"
        [chartData]="chartData"
        [chartComponent]="chartComponent"
        (onDataComplete)="onDataComplete($event)"
        (onChartRedraw)="onChartReDraw($event)">
    </bar-chart>
    <bar-chart-with-break *ngIf='modelData.withBreak'
        frequeny-bar-incident
        [modelData]="modelData"
        [chartData]="chartData"
        [chartComponent]="chartComponent"
        (onDataComplete)="onDataComplete($event)"
        (onChartRedraw)="onChartReDraw($event)">  
    </bar-chart-with-break>
</div>