<div *ngIf='modelData'>
    <bar-chart *ngIf='!modelData?.withBreak' 
        class="width-100"
        frequeny-time-period
        [modelData]="modelData" 
        [chartData]="chartData" 
        [chartComponent]="chartComponent$ | async"
        (onDataComplete)="onDataComplete($event)" 
        (onChartRedraw)="onChartReDraw($event)">
    </bar-chart>
    <bar-chart-logarithm *ngIf='modelData?.withBreak' 
        class="width-100"
        frequeny-time-period
        [modelData]="modelData" 
        [chartData]="chartData" 
        [chartComponent]="chartComponent$ | async"
        (onDataComplete)="onDataComplete($event)" 
        (onChartRedraw)="onChartReDraw($event)">
    </bar-chart-logarithm>
</div>