<div
    fxLayout="column"
    fxLayoutAlign="start start"
    fxLayoutGap="2px">
  <div  class="width-100"
        fxLayout="row"
        fxLayoutAlign="start start"
        fxLayout.lt-lg="column"
        fxLayoutAlign.lt-lg="start start"
        fxLayoutGap="2px">
        <app-industry-overview *ngIf="frequencyIndustryOverviewInput" class="width-100" [componentData]="frequencyIndustryOverviewInput"></app-industry-overview>
        <app-tile [id]="'FREQ_TIME_PERIOD'" [title]="'Time Period'" class="width-100">
            <div front class="width-100" fxLayout="row">
                <app-time-period [componentData]="frequencyInput" class="width-100" fxFlexFill></app-time-period>
            </div>
        </app-tile>
  </div>
  <div  class="width-100"
        fxLayout="row"
        fxLayoutAlign="start start"
        fxLayout.lt-lg="column"
        fxLayoutAlign.lt-lg="start start"
        fxLayoutGap="2px">
        <app-tile [id]="'FREQ_INCIDENT'" [title]="'Type of Incident'" 
                  class="width-100"
                  [isSplittable]="isIncidentShowFlip" [isFlippable]="isIncidentShowSplit"
                  (onFullScreen)="isIncidentShowFlip=isIncidentShowSplit=!$event" 
                  (onFlip)="showIncidentPie=true" 
                  (onSplit)="showIncidentPie=true">
            <div front class="width-100" fxLayout="row">
                <app-incident-bar [componentData]="frequencyInput" class="width-100" fxFlexFill></app-incident-bar>
            </div>
            <div back *ngIf="showIncidentPie" class="width-100" fxLayout="row">
                <app-incident-pie [componentData]="getFrequencyIncidentFlipManualInput" class="width-100" fxFlexFill></app-incident-pie>
            </div>
        </app-tile>

        <app-tile [id]="'FREQ_LOSS'" [title]="'Type of Loss'" 
                  class="width-100"
                  [isSplittable]="isLossShowFlip" 
                  [isFlippable]="isLossShowSplit"
                  (onFullScreen)="isLossShowFlip=isLossShowSplit=!$event" 
                  (onFlip)="showLossPie=true" 
                  (onSplit)="showLossPie=true">
        <div front>
            <app-loss-bar [componentData]="frequencyInput"></app-loss-bar>
        </div>
        <div back *ngIf="showLossPie">
            <app-loss-pie [componentData]="getFrequencyLossFlipManualInput"></app-loss-pie>
        </div>
    </app-tile>
  </div>
  <div  class="width-100"
        fxLayout="row"
        fxLayoutAlign="start start"
        fxLayout.lt-lg="column"
        fxLayoutAlign.lt-lg="start start"
        fxLayoutGap="2px">
        <app-tile [id]="'FREQ_PEER_TABLE'" [title]="'5 Most Recent Peer Group'" class="width-100">
            <div front class="width-100">
                <app-simple-table [dataSource]="peerGroupTable" [hearderColumns]="hearderColumns" [columnsKeys]="columnsKeys">
                </app-simple-table>
            </div>
        </app-tile>

        <app-tile [id]="'FREQ_COMPANY_TABLE'" [title]="'5 Most Recent Company Losses'" 
                  class="width-100"
                  *ngIf="companyLossesTable">
            <div front class="width-100">
                <app-simple-table [dataSource]="companyLossesTable" [hearderColumns]="hearderColumns" [columnsKeys]="columnsKeys">
                </app-simple-table>
            </div>
        </app-tile>
  </div>
</div>
