/* You can add global styles to this file, and also import other style files */
@import "assets/theme/theme.icon";
@import "assets/theme/app.theme";

body{
    font-family: "Helvetica Neue", Arial, sans-serif;
}

html, body, material-app, md-sidenav-container, .my-content {
  margin: 0;
  width: 100%;
  height: 100%;
}

.ng-draggable {
  cursor: move;
}