
  <app-tile [title]="'SELECT COMPANY'" [showProgress]="isSearching">
    <div header>
        <span class="required" fxLayout="row" fxLayoutAlign="center center">&nbsp;(Required)</span>
    </div>

    <div front 
         fxLayout="column" 
         class="width-100 padding-left-10 padding-right-10"  
         fxLayoutAlign="center start">

        <div fxLayout="row"  
             class="width-100"
             fxLayout.xs="column"  
             fxLayoutAlign.xs="center start" 
             fxLayoutGap.xs="10px" 
             fxLayoutAlign="start center" 
             fxLayoutGap="20px">

          <md-select  fxFlex="30" placeholder="Select search by" [(ngModel)]="selectedSearchBy"  
               (ngModelChange)="onSearchByChange()" floatPlaceholder="never">
              <md-option *ngFor="let item of searchByList" [value]="item.id">{{item.description}}</md-option>
          </md-select>

          <div *ngIf="isManual" fxFlex="30"  >
            <md-select fxFlex
            placeholder="Select industry" [(ngModel)]="selectedIndustry" 
            floatPlaceholder="never" (ngModelChange)="onValidation()">
            <md-option *ngFor="let item of industryList" [value]="item.naics">{{item.displayName}}</md-option>
            </md-select>
          </div>
          
          <div  class="width-100" fxLayout="row" fxLayoutAlign="start center">
            <md-input-container  fxFlex="90" floatPlaceholder="never" dividerColor="primary"  >
              <input mdInput [(ngModel)]="selectedSearchValue" autofocus  (ngModelChange)="onValidation()"  (keypress)="onSearch($event, false)"
              type="text" *ngIf="searchRule === 'text'" placeholder="{{searchValuePlaceHolder}}" />
              <input mdInput [(ngModel)]="selectedSearchValue" autofocus (ngModelChange)="onValidation()"  (keypress)="onSearch($event, false)"
              type="text" *ngIf="searchRule === 'number'" restrictInputNumber placeholder="{{searchValuePlaceHolder}}" />
            </md-input-container>
            <button md-icon-button *ngIf="!isManual" (click)="onSearch($event, true)"> <md-icon>search</md-icon></button>
          </div>
        </div>

         <div *ngIf="isManual" class="width-100" fxLayout="row" fxLayoutAlign="start center"
            fxLayoutGap="92px" fxLayout.xs="column"  
             fxLayoutAlign.xs="center start" 
             fxLayoutGap.xs="0">
          <md-select  fxFlex="30" placeholder="Select revenue" [(ngModel)]="selectedRevenue" 
             (ngModelChange)="onValidation()" floatPlaceholder="never">
              <md-option *ngFor="let item of revenueModellist" [value]="item.id">{{item.description}}</md-option>
          </md-select>
        </div>

         <div fxLayout="column" fxLayoutAlign="center start"  class="width-100" *ngIf="!isManual">
           <app-search-table class="width-100"
              [searchType]="selectedSearchType" 
              [searchValue]="selectedSearchValue"
              [onTriggerSearch]="isTriggerSearch"
              (onSelectionCompleted)="onSearchTableSelectionCompleted($event)">
           </app-search-table>
         </div>
    </div>
  </app-tile>

  <app-tile [title]="'PROGRAM STRUCTURE'">
      <div header>
          <span class="optional" fxLayout="row" fxLayoutAlign="center center">&nbsp;(Optional)</span>
      </div>
      <div front fxLayout="row" fxFlex  class="padding-left-10">
          <div fxLayout="column" fxFlex  fxLayoutGap="0px"  fxLayoutAlign="center start">
              <md-input-container class="width-50" floatPlaceholder="never" dividerColor="primary"  align="start" >
                <input mdInput [(ngModel)]="selectedPremium" autofocus  kmbConversion  type="text" placeholder="Enter Premium">
             </md-input-container>

             <md-input-container class="width-50"floatPlaceholder="never" dividerColor="primary"  align="start" >
              <input mdInput [(ngModel)]="selectedLimit" autofocus kmbConversion type="text" placeholder="Enter Limit">
              </md-input-container>

             <md-input-container class="width-50" floatPlaceholder="never" dividerColor="primary"  align="start" >
                <input mdInput [(ngModel)]="selectedRetention" autofocus kmbConversion type="text" placeholder="Enter Retention">
             </md-input-container>
          </div>
      </div>
  </app-tile>

  <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px" style="padding-right: 5px">
    <button md-raised-button (click)="onAssessment()" color="accent" [disabled]="!isActionEnabled">
      <md-icon>speaker_notes</md-icon>
      Assessment
    </button>
    
    <button md-raised-button (click)="onReport()" color="accent" [disabled]="!isActionEnabled">
      <md-icon>pie_chart</md-icon>
      Report
    </button>
  </div>

