
  <app-tile [title]="'SELECT COMPANY'" [showProgress]="isSearching">
    <div header>
        <span class="required" fxLayout="row" fxLayoutAlign="center center">&nbsp;(Required)</span>
    </div>

    <div front 
         fxLayout="column" 
         class="width-100 padding-left-10 padding-right-10"  
         fxLayoutAlign="center start">

        <div fxLayout="row"  
             class="width-100"
             fxLayout.xs="column"  
             fxLayoutAlign.xs="center start" 
             fxLayoutGap.xs="10px" 
             fxLayoutAlign="start center" 
             fxLayoutGap="20px">

          <md-select  fxFlex="30" placeholder="Select search by" [(ngModel)]="selectedSearchBy"  
               (ngModelChange)="doSearchByChange()" floatPlaceholder="never">
              <md-option *ngFor="let item of searchByList" [value]="item.id">{{item.description}}</md-option>
          </md-select>

          <md-select fxFlex="30"  *ngIf="isManual"  
              placeholder="Select industry" [(ngModel)]="selectedIndustry" 
              floatPlaceholder="never">
              <md-option *ngFor="let item of industryList" [value]="item.naics">{{item.naicsDescription}}</md-option>
          </md-select>

          <div  class="width-100" fxLayout="row" fxLayoutAlign="start center">
          <md-input-container  fxFlex="60" floatPlaceholder="never" dividerColor="primary"  >
            <input mdInput [(ngModel)]="selectedSearchValue" autofocus  (keypress)="doSearch($event, false)"
            type="text" placeholder="{{searchValuePlaceHolder}}" />
          </md-input-container>
          <button md-icon-button (click)="doSearch($event, true)"> <md-icon>search</md-icon></button>
          </div>
          <!--<button md-raised-button (click)="doSearch()" color="accent" *ngIf="!isManual">
            Search
          </button>-->
        </div>

         <div *ngIf="isManual" class="width-100" fxLayout="row" fxLayoutAlign="start center"
          fxLayoutGap="92px" fxLayout.xs="column"  
             fxLayoutAlign.xs="center start" 
             fxLayoutGap.xs="0" >
          <md-input-container fxFlex="30" floatPlaceholder="never" dividerColor="primary"  align="start" >
            <input mdInput [(ngModel)]="selectedRevenue" autofocus  type="text" placeholder="Enter Revenue">
          </md-input-container>
        </div>

         <div fxLayout="column" fxLayoutAlign="center start"  class="width-100" *ngIf="!isManual">
           <md-table #table [dataSource]="dataSource"  class="width-100" mdSort>

               <ng-container cdkColumnDef="companyId">
                <md-header-cell  class="table-header" *cdkHeaderCellDef>#</md-header-cell>
                <md-cell  *cdkCellDef="let row">
                  <md-radio-button color="primary" value="1" (click)="selectedRow(row.companyId)"></md-radio-button> </md-cell>
              </ng-container>

               <ng-container cdkColumnDef="depthScore">
                <md-header-cell  class="table-header" *cdkHeaderCellDef md-sort-header> Data Depth </md-header-cell>
                <md-cell  *cdkCellDef="let row"> {{row.depthScore}} </md-cell>
              </ng-container>

              <!-- Progress Column -->
              <ng-container cdkColumnDef="companyName">
                <md-header-cell class="table-header" *cdkHeaderCellDef md-sort-header>Name </md-header-cell>
                <md-cell *cdkCellDef="let row"> {{row.companyName}} </md-cell>
              </ng-container>

              <!-- Name Column -->
              <ng-container  cdkColumnDef="city">
                <md-header-cell class="table-header" *cdkHeaderCellDef md-sort-header> City </md-header-cell>
                <md-cell *cdkCellDef="let row"> {{row.city}} </md-cell>
              </ng-container>

              <!-- Color Column -->
              <ng-container cdkColumnDef="state">
                <md-header-cell class="table-header" *cdkHeaderCellDef md-sort-header>State</md-header-cell>
                <md-cell *cdkCellDef="let row"> {{row.state}} </md-cell>
              </ng-container>

               <!-- Color Column -->
              <ng-container cdkColumnDef="country">
                <md-header-cell class="table-header" *cdkHeaderCellDef md-sort-header>Country</md-header-cell>
                <md-cell *cdkCellDef="let row"> {{row.country}} </md-cell>
              </ng-container>

               <!-- Color Column -->
              <ng-container cdkColumnDef="ticker">
                <md-header-cell class="table-header" *cdkHeaderCellDef md-sort-header>Ticker</md-header-cell>
                <md-cell *cdkCellDef="let row"> {{row.ticker}} </md-cell>
              </ng-container>

               <!-- Color Column -->
              <ng-container cdkColumnDef="exchange">
                <md-header-cell class="table-header" *cdkHeaderCellDef md-sort-header>Exchange</md-header-cell>
                <md-cell *cdkCellDef="let row"> {{row.exchange}} </md-cell>
              </ng-container>

               <!-- Color Column -->
              <ng-container cdkColumnDef="topLevel">
                <md-header-cell class="table-header" *cdkHeaderCellDef md-sort-header>Top Level Company</md-header-cell>
                <md-cell *cdkCellDef="let row"> {{row.topLevel}} </md-cell>
              </ng-container>


              <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
              <md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>
              
            </md-table>

            <div *ngIf="!searchResult"  fxLayoutAlign="center center" class="width-100 padding-15" style="background: white">
              No data available
            </div>

            <md-paginator [length]="100" 
                          [pageSize]="10" fxLayoutAlign="end center" class="width-100 padding-15 table-pagination"
                          [pageSizeOptions]="[5, 10, 25, 100]"  (page)="loadData($event)">
            </md-paginator>
         </div>
    </div>
  </app-tile>

  <app-tile [title]="'PROGRAM STRUCTURE'">
      <div header>
          <span class="optional" fxLayout="row" fxLayoutAlign="center center">&nbsp;(Optional)</span>
      </div>
      <div front fxLayout="row" fxFlex  class="padding-left-10">
          <div fxLayout="column" fxFlex  fxLayoutGap="0px"  fxLayoutAlign="center start">
              <md-input-container class="width-50" floatPlaceholder="never" dividerColor="primary"  align="start" >
                <input mdInput [(ngModel)]="selectedPremium" autofocus  type="text" placeholder="Enter Premium">
             </md-input-container>

             <md-input-container class="width-50" floatPlaceholder="never" dividerColor="primary"  align="start" >
                <input mdInput [(ngModel)]="selectedRetention" autofocus  type="text" placeholder="Enter Retention">
             </md-input-container>

             <md-input-container class="width-50"floatPlaceholder="never" dividerColor="primary"  align="start" >
                <input mdInput [(ngModel)]="selectedLimit" autofocus  type="text" placeholder="Enter Limit">
             </md-input-container>
          </div>
      </div>
  </app-tile>

  <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px" style="padding-right: 5px">
    <button md-raised-button (click)="doAssessment()" color="accent">
      <md-icon>speaker_notes</md-icon>
      Assessment
    </button>
    
    <button md-raised-button (click)="doReport()" color="accent">
      <md-icon>pie_chart</md-icon>
      Report
    </button>
  </div>

