<div *ngIf='modelData'>
    <bar-chart *ngIf='!modelData?.withBreak'
        [ngClass]="{'width-100' : !printSettings}"
        frequeny-bar-loss
        [modelData]="modelData" 
        [chartData]="chartData" 
        [chartView]="lossChartView" 
        [chartComponent]="chartComponent$ | async"
        (onDataComplete)="onDataComplete($event)"
        (onChartRedraw)="onChartReDraw($event)"
        [printSettings]="printSettings"
        >
    </bar-chart>
    <bar-chart-logarithm *ngIf='modelData?.withBreak'
        [ngClass]="{'width-100' : !printSettings}"
        frequeny-bar-loss
        [modelData]="modelData" 
        [chartData]="chartData" 
        [chartView]="lossChartView" 
        [chartComponent]="chartComponent$ | async"
        (onDataComplete)="onDataComplete($event)"
        (onChartRedraw)="onChartReDraw($event)"
        [printSettings]="printSettings"
        >
    </bar-chart-logarithm>
</div>
