.chart-bar{
    height: 400px;
    min-height: 275px;
}

.tile-maximize .chart-bar{
  min-height: 275px !important;
  height: 86vh !important;
}

// .bar-chart1 {
//     width:100%;
// }

// @media only screen and (max-width : 680px) {
// .bar-chart1 .highcharts-container{
//     width: 401px !important;
//     height: 269px !important;
    
//   }

// .bar-chart1  .highcharts-root{
//       width: 100% !important;
//       height: 100% !important;
//   }
// }

// .incident-below1, .time-below1, .loss-below1{ 
//     top: -3px !important;
// }
